body {
  background-color: #dbdbdb;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  z-index: -1;
  pointer-events: none;
}

.grid {
  display: grid;
  grid-template-columns: auto min-content;
  justify-content: center;
  justify-items: end;
  align-items: center;
  gap: 5px 10px;
  background: #2b2a2a;
  padding: 20px;
  color: white;
  box-shadow: #c58686 5px 5px 5px;
}

input {
  margin: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    width: 200px;
    -webkit-appearance: none;
    background-color: #8c76aa;
    border-radius: 10px;
    padding: 2px;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 20px;
    -webkit-appearance: none;
    color: #8c76aa;
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 20px;
    border-radius: 50%;
    cursor: ew-resize;
    background: #272727;
    box-shadow: -80px 0 0 80px #8c76aa;
  }
}
